doctype html
html(lang='en')
  title Chef Amit's Food List
  head
    link(href='bootstrap.min.css', rel='stylesheet')
    style.
      .deletbtn{
      	margin: 0 0.5em;
      	display:inline-block;}
      .show-window{
        position: absolute;
        top: 0;left: 0;right: 0;bottom: 0;
        margin: auto;
        width: 300px;
        height: 300px;}

    script(type='text/javascript').

      function agreeDel(name,id){
        var cnf = confirm(`Are you sure to delete ${name} ?`);
        if(cnf) location.href = `./del/${id}`;}

      function checkVals(mode){
      	var func = mode || 'added',
        Food = function(name, num, func){
          this.name = name;
          this.quantity = num;
          this.action = func;},
        f = new Food;
      	if(func == 'changed'){
          f.name = document.getElementById('editName').value;
          f.quantity = document.getElementById('editQuantity').value;
          f.action = func;}
        else if(func=='added'){
          f.name = document.getElementById('inputName').value;
          f.quantity = document.getElementById('inputQuantity').value;
          f.action = func;}
        if(!isNaN(f.name) || !isFinite(f.quantity) || !f.name || !f.quantity){
          alert('Name must be String, Quantity must be number.');
          return false;}
        else{
          alert(`${f.name} has been ${f.action}`);
          return true;}
      }

      function changeEditVals(name,num,id){
        document.getElementById('editName').value = name;
        document.getElementById('editQuantity').value = num;
        document.getElementById('editID').value = id;
      }

      function editCondition(mode){
        var ediearea =  document.getElementById('edit');
        var maincontent = document.getElementById('container');
      	if(mode=='editmode'){
          ediearea.setAttribute('class','show-window');
          ediearea.setAttribute('style','display:inline-block;');
          maincontent.setAttribute('style','opacity:0.4;');}
        else if(mode=='hidden'){
      	  ediearea.setAttribute('style','display:none;');
      	  maincontent.setAttribute('style','opacity:1;');}
      }
      
  body
   div.container#container
     h1.page-header Chef Amit's Food List
     h4 Add New Food
     form(action='/add', method='post')
       table(class='table')
         thead
           tr
             td
               input(type='text', class='form-control', name='name', id='inputName' placeholder='food name')
             td
               input(type='text', class='form-control', name='quantity', id='inputQuantity' placeholder='quantity')
             td
               button.btn(type='submit', class='btn-primary', onClick="return checkVals()") Add
     h4 Food Lists
     table(class='table table-striped')
       thead
         tr
           th.col-md-5 Foods
           th.col-md-5 Quantity
           th.col-md-2
       tbody
           each food, id in foods
             tr
               td #{food.name}
               td #{food.quantity}
               td
                 button.btn(
                 	class='btn-success',
                 	onClick="changeEditVals('#{food.name}','#{food.quantity}','#{id}');editCondition('editmode')") Edit
                 button.btn(
                   onClick="agreeDel('#{food.name}','#{id}')",
                   class='btn-default') Del
     ul.pager
       unless pager.first
         li.previous
           a(href='./?page=#{pager.previous}') Previous
       unless pager.last
         li.next
           a(href='./?page=#{pager.next}') Next
  div#edit(style='display:none;')
    div.panel(class='panel-default')
       div.panel-heading
         h4.panel-title Edit
       div.panel-body
         form(action='/update', method='post')
           input(type='hidden', name='id', id='editID')
           label(class='control-label') Name
           input(type='text', name='name', id='editName', class='form-control')
           label(class='control-label') Quantity
           input(type='text', name='quantity', id='editQuantity', class='form-control')
           button.btn(
         	  type='submit',
         	  class='btn-success',
         	  onClick='return checkVals("changed")') Chage
           a.btn(
             class='btn-default',
             onClick='editCondition("hidden")') Cancel